<h1>My Rails app Homepage</h1>
<p>Check out my blog</p>
<%= link_to "See my Blog Posts!", posts_path, class: "btn btn-primary" %>
or
<%= link_to "Check out the About me page :)", about_path, class: "btn btn-secondary" %>