<% content_for :title, "Posts" %>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= button_to "Show this post", post, method: :get %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
